DEL 1

- 1.1

In [1]:
import pandas as pd

In [2]:
data = "C:/VScode projects/Lektion1/agent_data.csv"
#sökväg till filen

In [3]:
df = pd.read_csv(data)

In [11]:
df.head()

,Prompt_ ID_,Timestamp_,Customer_ Name_,Customer_ Segment_,City_,Country_,Agent_ Name_,LLM_ Model_,Compute_ Cost_ EUR_,Customer_ Price_ EUR_,Response_ Time_,Use_ Case_,Prompt_ Length_,Access_ Method_
0,20fdb890-8d9e-11f0-b4d9-0a623090504c,2024-01-01 08:00:00,Garmo Tech A/S,Consultancy,Copenhagen,Denmark,agent-auditor,orion-k4,0.0093,0.0127,290,Reporting,57,Web
1,2f2be192-8d9e-11f0-bc2c-0a623090504c,2024-01-01 08:00:02,NordicAI Solutions AS,Startup,Oslo,Norway,agent-analytics,kiwi-2.i,0.0136,0.0222,424,Data Analysis,168,App
2,2a854025-8d9e-11f0-b7fc-0a623090504c,2024-01-01 08:00:03,NeuroNova AB,Startup,Stockholm,Sweden,agent-analytics,sagitta-4.i,0.0062,0.0100,1566,Data Analysis,114,Web
3,309ae819-8d9e-11f0-9fa6-0a623090504c,2024-01-01 08:00:05,NovaLogic AB,Startup,Stockholm,Sweden,agent-support,"kiwi-2.i, alva-1.i, orion-k3, orion-k4",0.0238,0.0448,3165,Customer Support,184,Plugin
4,24d71ab2-8d9e-11f0-87f2-0a623090504c,2024-01-01 08:00:05,novalogicab,Startup,Stockholm,Sweden,agent-support,maya-1.i,0.0073,0.0109,375,Customer Support,70,Web

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 563458 entries, 0 to 563457
Data columns (total 14 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Prompt_ ID_            563458 non-null  object
 1   Timestamp_             563458 non-null  object
 2   Customer_ Name_        563458 non-null  object
 3   Customer_ Segment_     563458 non-null  object
 4   City_                  563458 non-null  object
 5   Country_               563458 non-null  object
 6   Agent_ Name_           563458 non-null  object
 7   LLM_ Model_            563458 non-null  object
 8   Compute_ Cost_ EUR_    563458 non-null  float64
 9   Customer_ Price_ EUR_  563458 non-null  float64
 10  Response_ Time_        563458 non-null  int64
 11  Use_ Case_             518219 non-null  object
 12  Prompt_ Length_        563458 non-null  int64
 13  Access_ Method_        551474 non-null  object
dtypes: float64(2), int64(2), object(10)
memory usage: 60.2+ MB